<div id="<%= dom_id tododb %>">
  <p>
    <strong>Title:</strong>
    <%= tododb.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= tododb.content %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= tododb.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tododb.status %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= tododb.startDate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= tododb.endDate %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= tododb.label %>
  </p>

</div>
